<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS/JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- hosted by jsDelivr CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <!--Header--><%- include('../views/header.ejs') %>
      <!--Page content-->
      
       
        <div class="bg-image d-flex justify-content-center align-items-center" 
            style="background-image: url('../images/bghotel.jpg');
                    height: 100vh;
                    background-position: center;
                    background-size: cover;
                    position: relative;"
        >
          <div class="container d-flex flex-column align-items-center">
            <h1 class="text-white">Get in touch</h1>
            <div class="contact">
              <form action="mailto:keenan.linck@ontariotechu.net" ?subject=Signup Form method="post"
              enctype="text/plain" name="form">
                <p><label class="text-white" for="name">Your Name</label></p>
                <input class="text-white" type="text" id="name" name="name" required>
                <p><label class="text-white"  for="email">Your Email</label></p>
                <input class="text-white"  type="email" id="email" name="email" required>
                <p><label class="text-white"  for="comment">Comment</label></p>
        
                <input class="text-white"  type="text" id="comment" name="comment" required><br>
        
                <input class="btn btn-secondary" type="submit" value="Submit"><br>
                <p><input class="btn btn-secondary" type="reset" value="Click here to reset the form"/></p>
              </form>
            </div>
              <p class="text-white">Also available at:</p>
              <a class="text-white navbar-brand" href="mailto:keenan.linck@ontariotechu.net">
              <img src="../images/envelope.svg" alt="Email" width="25" class="bg-light d-inline-block align-text-top">
              Email (Personal)
              <a class="text-white navbar-brand" href="mailto:keenan.linck@ontariotechu.ca">
              <img src="../images/envelope.svg" alt="Email" width="25" class="bg-light d-inline-block align-text-top">
              Email (Work)
          </div>
      </div>
      <!--Footer--><%- include('../views/footer.ejs') %>
    </div>
  </body>
</html>
