<footer>    
    <div class="container-fluid bg-dark text-white fixed-bottom pt-3 pb-2" >
        <div class = "container">
            <div class = "row">
                <div class = "col-sm-10">
                <!--Social links-->
                    <div class = "row">
                        <!--LinkedIn-->
                        <a class="navbar-brand" href="https://www.linkedin.com/in/keenan-linck-b99a91251">
                            <img src="../images/linkedin.png" alt="LinkedIn logo" width="30" height="24" class="d-inline-block align-text-top">
                            LinkedIn
                        </a>
                    </div>
                    <div class = "row pt-2">
                        <!--Github-->
                        <a class="navbar-brand" href="https://github.com/klinck004">
                            <img src="../images/github.png" alt="GitHub logo" width="30" height="30" class="d-inline-block align-text-top">
                            Github
                        </a>
                    </div>    
                </div>
                <div class = "col-sm-2 text-nowrap">
                    <div class = "row"><p>© 2023 Keenan Linck</p></div>
                </div>
            </div>  
        </div>
    </div>
</footer>