<footer>    
    <div class="container-fluid bg-dark text-white fixed-bottom" >
        <div class = "container">
            <p>Footer</p>
            <div class="row">
                <div class="col-sm-1">
                    <img src = "../images/keenan2.png" width = "635" height = "540">
                </div>
                <div class="col-sm-2">
                    <a class="nav-link" href="home.ejs">LinkedIn</a>
                </div>
            </div>

        </div>
    </div>
</footer>