<footer>    
    <div class="container-fluid bg-dark text-white fixed-bottom pt-3 pb-3" >
        <div class = "container">
        <div class = "row">
            <a class="navbar-brand" href="https://www.linkedin.com/in/keenan-linck-b99a91251">
                <img src="../images/linkedin.png" alt="Logo" width="30" height="24" class="d-inline-flex align-text-top">
                LinkedIn
            </a>
        </div>
        <div class = "row pt-2">
            <a class="navbar-brand" href="https://github.com/klinck004">
                <img src="../images/github.png" alt="Logo" width="30" height="30" class="d-inline-flex justify-content-right align-text-top">
                Github
            </a>
        </div>     
    </div>
</footer>