<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS/JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- hosted by jsDelivr CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <!--Header--><%- include('../views/header.ejs') %>
      <!--Page content-->
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="col">
            <img src="../images/otu.jpg" class="img-thumbnail" alt="The library at Ontario Tech University" style="width:72.5%;">
          </div>
          <div class="col">
            <h1>Office Assistant - Ontario Tech University</h1>
            <ul>
              <li>Assistant within the Office of Institutional Research and Analysis (OIRA)</li>
              <li>Responsible for distributing tracking reports to internal University departments to assist in decision-making</li>  
            </ul>
          </div>
        <div class="row pt-5">
          <div class="col">
            <img src="../images/to.jpg" class="img-thumbnail" alt="The outside of 25 Grosvenor Street in Toronto" style="width:73.5%;">
          </div>
          <div class="col">
            <h1>Office Assistant - Human Rights Tribunal of Ontario</h1>
            <ul>
              <li>Coordinated multiple large scale data management projects using Excel and VBA to ensure case information was up-to-date and accurately recorded</li>
              <li>Worked with colleagues to assist in projects where necessary (incl. case management, document assistance)</li>  
              <li>Directed correspondence from the Registrar's inbox to applicable staff members</p></li>        
            </ul>
          </div>
        <div class="row pt-5">
          <div class="col">
            <img src="../images/theatre.jpg" class="img-thumbnail" alt="An auditorium" style="width:75%;">
          </div>
          <div class="col">
            <h1>Senior Theatre Technician - DDSB</h1>
            <ul>
              <li>Worked directly with clients to understand their specific needs and produce events to their standards</li>  
              <li>Responsible for controlling access to the theatre, locking and unlocking when necessary in coordination with facilities management</li>
              <li>Directed junior team members and assigned event positions</li>      
            </ul>
          </div>       
        </div>
      </div>
      <!--Footer--><%- include('../views/footer.ejs') %>
    </div>
  </body>
</html>

