
<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap 5.3.2 CDN -->
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <title><%= title %></title>
        <meta charset="UTF-8">
    </head>
    <body>
        <!-- Add item form -->
        <form class="form" method="post">
            <div>
                <label for="assignName">Assignment Name:</label><br>
                <input type="text" class="" id="assignName" placeholder="Enter the assignment name" name="name" required>
            </div>
            <div>
                <label for="className">Class:</label><br>
                <input type="text" class="" id="className" placeholder="Class" name="class" required>
            </div>
            <div>
                <label for="dueDate">Due date:</label><br>
                <input type="date" class="" id="dueDate" placeholder="Due date" name="due" required>
            </div>   
            <div>
                <label for="assignNotes">Notes:</label><br>
                <input type="text" class="" id="assignNotes" placeholder="Notes" name="notes" required>
            </div> 
            <div>
                <label for="assignMarks">Out of:</label><br>
                <input type="number" class="" id="assignMarks" placeholder="Total Marks" name="mark">
            </div>   
            <div>
                <label for="assignWeight">Weight:</label><br>
                <input type="number" class="" id="assignWeight" placeholder="Weight" name="weight">
            </div>  
            <button class="btn btn-outline-success" type="submit">Submit</button>
            <a href="/list" class="btn btn-secondary">Cancel</a>
        </form>
    </body>
</html>